html,
body {
    height: 100%;
}


.wrap > .container {
    width: 100%;
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #A4A9AE;
    border-top: 1px solid #ddd;
  
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #4187FF;
    background: #7E9BB1;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
    /* margin-right: 100px; */
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.wrap {
    width: calc(100%-300px);
    min-height: 100%;
    height: auto;
    margin: 0 0 0 230px;
    padding: 0 0 60px;
}

.navbar-right {
    float: right !important;
    margin-right: 0px;
}
.panel{
    position: fixed;
    width: 230px;
    left: 0;
    height: 100%;
    background: #4187FF;
    z-index: 1;
    
}
.panel .panel-default{
    background: #4187FF !important;
}
.panel-default{
    border: none !important;
}
.kv-sidenav li a {
    color: #ddd;
    border: none !important;
    font-size: 15px;
}

.nav > li > a:hover, .nav > li > a:focus{
    background-color: #4187FF !important;
}

#img_logo{
    height: 50;
    width: 100%;
}
.panel-heading{
    padding: 0;
    background: #4187FF;
    border-bottom: 0;
}

.nav-pills > li.active > a:hover, .nav-pills > li a:focus{
    background-color: #0008EB !important;
}
.nav-pills li a{
    background-color: #4187FF !important;
}
.kv-sidenav .active > ul {
    background-color: #4187FF !important;
}